@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* If the screen size is 600px wide or less, set the font-size to 30px */
@media screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
  }
  .header {
    height: 270px;
  }
  .full {
    height: calc(100% - 305px);
  }
}

/* If the screen size is 600px wide or less, set the font-size to 25px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .header {
    height: 300px;
  }
  .full {
    height: calc(100% - 335px);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 500;
  word-spacing: -1px;
}

.text-white {
  color: #ffffff;
}

.header {
  background: url('images/pattern-bg.png') center no-repeat;
  background-size: cover;
  text-align: center;
}

.container {
  padding: 30px;
}

.row {
  display: flex;
}

.ip-address-group {
  justify-content: center;
  margin-top: 25px;
}

.input {
  border: none;
  width: 430px;
  padding: 20px;
  height: 15px;
  border-radius: 15px 0 0 15px;
  font-size: 17px;
  font-family: 'Rubik', sans-serif;
}

.button {
  border: none;
  min-width: 55px;
  background: #000000;
  border-radius: 0 15px 15px 0;
}

.button:hover {
  background: hsl(0, 0%, 17%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
